*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#defaultElements{
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 8px;
}

#defaultElements h1{
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;  
}

#defaultElements h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#defaultElements h3{
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#unicornDefault{
    cursor: pointer;
    z-index: 128;
    position: relative;
    left: 0;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}


#defaultBackground{
    display: none;
    z-index: 64;
    width: 100vw;
    height: 100vh;
    background-color: #00B57B;
    position: absolute;
    top:0;
    left:0;
    transition: all 0.33s;
    transition-timing-function: ease-in;
}


#gameWrapper{
    display: none;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #00B57B;
    position: absolute;
    overflow: hidden;
}


#introductionTextWrapper{
    z-index: 4096;
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}

#resultTextWrapper{
    z-index: 4096;
    position: relative;
    display: none;
    width: 100vw;
    height: 100vh;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


#unicorn{
    display: none;
    z-index: 512;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: none;
    transition-timing-function: ease-out;
}


.unicornDead{
    transition-timing-function: ease-out;
    animation: circle 0.5s linear infinite;
}


.star {
    display: block;
    height: 50px;
    z-index: 513;
    position: absolute;
    left: 0;
    bottom: 50px;
    transition: none;
    transition-timing-function: ease-out;
    animation: circle 1s linear infinite;
}

@keyframes circle {
    100%{transform: rotate(0deg);}    
    0%{transform: rotate(360deg);}    
}


.blinking{
	-webkit-animation:blink 0.75s ease-in-out infinite alternate;
    -moz-animation:blink 0.75s ease-in-out infinite alternate;
    animation:blink 0.75s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}


#testRect{
    display: none;
    z-index: 12000;
    position: absolute;
    left: 0px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.3);
}


/* mobile */
@media (max-width: 450px) {
    #introductionTextWrapper,
    #resultTextWrapper{
        font-size: 8px;
    }
}